<!DOCTYPE html>
<html>
    <head>
    <link rel="stylesheet" href="his2.css">
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="headerr.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="Logo.png">
    <title>Egyptian Gods | Historical</title> 
    </head>
    <body>
    
    <nav class="navbar navbar-expand-sm  sticky-top" style="width: 100%;">

<div class="container-fluid">
  <a class="navbar-brand" href="index.php" style="color: #9BA4B5" id="back">Egyptian Gods</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="index.php">Home</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="his1.php" role="button" data-bs-toggle="dropdown">Historical</a>
        <ul class="dropdown-menu menu">
          <div><img src="images/osiris-bold.png" class="dropimage">
            <li><a class="dropdown-item" href="his3.php">Osiris Myths</a></li>
          </div>
          <div><img src="images/anubis-bold.png" class="dropimage">
            <li><a class="dropdown-item" href="his1.php">Anubis</a></li>
          </div>
          <div><img src="images/horus-bold.png" class="dropimage">
            <li><a class="dropdown-item" href="his3.php">Horus</a></li>
          </div>
          <div><img src="images/montu-bold.png" class="dropimage">
            <li><a class="dropdown-item" href="his1.php">Montu</a></li>
          </div>
          <div><img src="images/ptah-bold.png" class="dropimage">
            <li><a class="dropdown-item" href="his1.php">Ptah</a></li>
          </div>
          <div><img src="images/ra-bold.png" class="dropimage">
            <li><a class="dropdown-item" href="his2.php">Ra</a></li>
          </div>
          <div><img src="images/sekhmet-bold.png" class="dropimage">
            <li><a class="dropdown-item" href="his1.php">Sekhmet</a></li>
          </div>
          <div><img src="images/shu-bold.png" class="dropimage">
            <li><a class="dropdown-item" href="his2.php">Shu</a></li>
          </div>
          <div><img src="images/tefnut-bold.png" class="dropimage">
            <li><a class="dropdown-item" href="his2.php">Tefnut</a></li>
          </div>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="image.php">Images</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="video.php">Video</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="book.php">Reservation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="shop - light.php">Online Shop</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="aboutus.php">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="contact.php">Contact Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="contact.php">News</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="signin.php" role="button" data-bs-toggle="dropdown">Sign In</a>
        <ul class="dropdown-menu menu22">
          <li><a class="dropdown-item" href="signup.php">Sign Up</a></li>
          <li><a class="dropdown-item" href="profile - light.php">Profile Edit</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
<div class="stroke"><a href="dark2.php"><i class="fa-solid fa-circle-half-stroke"></i></a></div>
</nav>
<!-- END of Navigation bar -->   <br>
  

   <br>
   <br>
   <br>
   

   <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0d/Re-Horakhty.svg/800px-Re-Horakhty.svg.png" class="img1">
<section class="sec1">
</div>
    <div class="ra">
    <input type="checkbox" id="check1">
        <h1>Rē</h1>
        <p>-Rē was the ancient Egyptian deity of the sun. By the Fifth Dynasty, he had become one of the most important gods in ancient Egyptian religion, identified primarily with the noon-day sun. Ra was believed to rule in all parts of the created world: the sky, the Earth, and the underworld. He was the god of the sun, order, kings and the sky.</p>
        <p>-Ra-Horakhti is often represented in the form of a standing or sitting red-skinned man with a falcon head (the god Horus ). On his head he carries a sun disk and a serpent «Aureus». Sometimes he was depicted in the form of a human being with a ram's head and a sun disk on it - as in the Temple of Seti I in Abydos - and sometimes he was depicted with a lion's head or a falcon's head with ram's horns, and on the head there is always the sun disk, which is the symbol of Ra </p>
        <p>-The ancient Egyptians believed that the sun is the source of life and considered it a god and called it Ra . This belief spread especially in northern Egypt, where the city of On (Heliopolis) was the seat of this cult. .  The priests elevated this god to be the god of the universe. In the south, in Edfu , the cult of Horus spread . After the union of the northern and southern sides, the priesthood unified the north and south deities in the form of the god Ra-Horakhty.</p>
        <p>-The merged form of the two gods, Ra and Horus, began to appear around 2445 BC in the sun temple built by Niuserre in Abusir (village) . He was also worshiped in temples in Wadi al-Sabua, Amada, Durr and in the Abu Simbel temple ...<a href="bookup.php" style=" color: darkblue;"> reserve here</a></p>
         <div class="dis1">
         <p>-The god Ra-Horakhty During the reign of King Akhenaten , the priests worshiped Ra-Horakhty, and Akhenaten allowed in the first years of his rule to practice religious rituals in that inherited way, then when he went to worship the god Aten, represented by the sun , he described him as “Ra-Horakhty</p>
         <p>-Underworld Ra is depicted with a ram's head most commonly. This figure refers to Ra as the “ram of the West” or “the ram in charge of his harem.” Furthermore, some texts describe Ra as an old king with bones made of silver, slate flesh, and hair of lapis lazuli (a dark blue semi-precious stone).</p>
          <p>-According to other myths, Ra pulled the sun out of the waters of Nun. Furthermore, the extensions of Ra's powers were called the Eye of Ra. The god has three daughters, Bastet, Sekhmet , and Hathor . Ra sent his daughters for revenge. Furthermore, the goddess Sekhmet was the En-Ra, created by the flames blazing in the En-Ras. In contrast, people believed that the goddess Hathor was generous and kind. Myths say that Sekhmet was a fierce warrior who protected the sun god, and that Bastet was kind and caring.</p>
         </div>
          <label for="check1" > Read More </label>
    </div>
    </section>

    <section class="sec2">
    <div class="ra">
    <center> <h1>The legend of Ra and the underworld</h1></center>
    
   <br>
        <p>-According to ancient myths, Ra was responsible for lighting the entire world. To do this, the deity traveled across the sky on his boat Atti. With sunset, the deity traveled to the Underworld, where he had to pass through the Twelve Gates.</p>
        <p>-During this journey, the deity was accompanied by other deities such as Seiya, Hu, Heka and members of the Enid. The myths of Ra traveling around the underworld to emerge each morning represented the cycle of rebirth and renewal. This strengthened the role of Ra.</p>
        <p>-Furthermore, the tales of the god Set defending Ra in the underworld are mentioned throughout history. Indeed, after accepting defeat from Horus in the Battle for the Throne, Set is charged with protecting the sun god on every night journey</p>
        <p>-After that, Apophis was defeated several times. Apophis, the god of chaos, was a huge serpent trying to stop the sun god's boat from traveling through the underworld. Every night Apophis tried to devour the ship or stop it with a hypnotic stare.</p>
        <p>-Once Apophis swallowed Ra's boat. However, the serpent was not strong enough to carry the deity and had to go through it. According to legends, this incident triggered a solar eclipse. When Ra was in the underworld, he often visited the god Osiris , the lord of the underworld, to pay his respects</p>
    </div>
    </section>

    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e1/Shu_with_feather.svg/154px-Shu_with_feather.svg.png" class="img3">
    <section class="sec3">
    <div class="shu">
    <input type="checkbox" id="check3">
        <h1>Shu</h1>
        <p>-Shu (Egyptian šw, "emptiness" or "he who rises up") was one of the primordial Egyptian gods, spouse and brother to goddess Tefnut, and one of the nine deities of the Ennead of the Heliopolis cosmogony. He was the god of peace, lions, air, and wind.</p>
        <p>-He is the husband of the goddess Tefnut , and the father of the god Geb  the god of the earth, and his wife, Nut , the goddess of the sky.In Heliopolitan theology, Atum created the first couple of the Ennead, Shu and Tefnut, by masturbation or spitting. Shu was the father of Nut, Geb, and grandfather of Osiris, Isis, Set, and Nephthys . His descendants are Horus and Anubis.</p>
        <p>-Shu considered the ultimate air-cooler, and thus a calming, sedative, and pacifier. Being associated with dry air, calmness and thus ma'at  (truth, justice, order and balance), Shu is depicted as the dry air/atmosphere between earth and sky, separating the two worlds after the event of the first occasion.  Shu is also depicted in art as wearing an ostrich feather. Shaw is seen with between one and four quills. Ostrich feathers were a symbol of lightness and emptiness. Mists and clouds were also Shu items and were often called his bones. Because of its location between heaven and earth, it was also known as the wind.</p>
         <div class="dis3">
         <p>-In a later myth, representing a terrible weather catastrophe at the end of the Old Kingdom, Tefnut and Shu are said to have once argued, and Tefnut left Egypt for Nubia (which had always been milder). It was said that Shu soon decided that he missed her, but that she transformed into a cat that destroyed any man or god who approached her. Thoth in disguise succeeded in convincing her to return.</p>
         <p>-The Greeks associated Shu with Atlas , the primordial giant who bore the heavenly bodies, as they were both depicted holding up the sky.</p>
          <p>-According to Heliopolitan cosmology, Shu and Tefnt, the first pair of cosmic elements, created the sky god Nut, and the earth god Geb. Shaw separates Nut from Geb as they were in an act of love, creating duality in the apparent world: above and below, light and darkness, good and evil. Before their separation, Nut gave birth to the gods Isis, Osiris, Nephthys ( Horus ) and Set. The Egyptians believed that if Shu did not separate Nut (the sky) and Geb (the earth), then there would be no way for physically manifest life to exist.</p>
          
         </div>
          <label for="check3" > Read More </label>
    </div>
    </section>

    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8b/Tefnut.png/150px-Tefnut.png" class="img4">
    <section class="sec4">
    <div class="shu">
    <input type="checkbox" id="check4">
        <h1>Tefnut</h1>
        <p>-Tefnut (tfnwt) is a deity of moisture, moist air, dew and rain in Ancient Egyptian religion. She is the sister and consort of the air god Shu and the mother of Geb and Nut.</p>
        <p>-Together with her brother, the air god Shu , she formed the first to originate from the creator god Atum , and thus the duality of male and female arose, as Atum himself was a hermaphrodite. There is also another legend about Tefnut's upbringing as she and her brother Shu, the children of Isis . In the book of Not mentions the birth of Tefnut with the birth of Horus .</p>
        <p>-Tefnut and her brother Shu represent the husband whom the gods gave birth to: they represent the parents of Geb, the earth god , and Nut , the sky goddess. And whenever the name Tefnut is mentioned, he mentions “Jeb”, so they are two partners. Tefnut is not represented in the form of a "lioness", but in the form of a "Nubian cat". But when she gets angry, she turns into a "predatory lioness". Tefnut is the "eternal serpent" that represents the Eye of Ra . The texts under the title “The Return of the Goddess” mention</p>
          <div class="dis4">
         <p>-The texts of the pyramids mention “Tefnut” in the ascension of Pharaoh to heaven after death, under its name “like the wise” or “like the truth.” According to these texts, Pharaoh is shown to be Osiris , who represents water:
        Translation of the Pyramid Text: Oh, Geb , the bull in the sky, I am Horus ... I have gone and come back now, as the fourth of the four gods, who brings water. I am honest with what I have done in my life. I am "Tefnut" (the wise), who ruled with Tefnut, representing the "two truths" despite the absence of witnesses. And the Two Realities have commanded that the throne of Geb be returned to me, that I may be exalted as I wished. (Text Al-Ahram 260). The text of the pyramids belongs to the texts of the ancient Egyptian kingdom, that is, about 2700 BC.</p>
        <p>-Tefnut was also mentioned during the era of the Middle Egyptian Kingdom on the coffins of the dead with reference to what came in the texts of the pyramids: “At that time, Atum said : Tefnut is my living daughter, she and her brother Shu . His name is “life” and her name is “truth”... “life” sleeps with My daughter "the truth.</p>
        </div>
          <label for="check4" > Read More </label>
    </div>
    </section>

    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Thoth.svg/171px-Thoth.svg.png" class="img5">
    <section class="sec5">
    <div class="shu">
    <input type="checkbox" id="check5">
        <h1>Thoth</h1>
        <p>-Thoth is an ancient Egyptian deity. In art, he was often depicted as a man with the head of an ibis or a baboon, animals sacred to him. His feminine counterpart was Seshat, and his wife was Ma'at. He was the god of the moon, wisdom, writing, hieroglyphs, science, magic, art, and judgment. His Greek equivalent is Hermes.</p>
        <p>-The ancient Egyptians considered that the god Thoth was the one who taught them writing and arithmetic (see the arithmetic of the ancient Egyptians ), and he is always depicted holding a pen and a tablet to write on. He has an essential role in the court of the dead, where the dead person is brought after the resurrection to perform the operation of weighing his heart before the feather of truth, Maat . And Thoth records the outcome of the scale. If the heart of the deceased is heavier than the feather of truth - then he is one of the disobedient sinners - his heart is thrown to an imaginary predatory beast named Amamout , and he devours him, and this is the eternal end of the dead. But if the heart is lighter than the feather of truth ( Maat ), then this means that the dead person was righteous in this world, so he will enter Paradise, where he will live with his wife and loved ones, after Osiris receives him.</p>
        <p>-Later on, the Greeks renamed him Hermes , and the Greeks saw him as the envoy of the gods , just like Hermes . It has shrines in several other places, for example, Abydos .</p>
       <p>-Thoth occupies an important position in the ancient Egyptian religion. He links the role of mediator between the gods of good and evil. His legend tells that he experienced three struggles between good and evil.</p>
          <div class="dis5">
         <p>-The three struggles are similar in principle, with a change in the wrestlers according to the time of each legend. In the first battle, the struggle was between the god Ra and Abib , the second was between Hiru-Pekhotet and Set , and the third was the struggle between Horus, the son of Osiris and Set . In each of these conflicts, the first god represented the "order" in the universe, and the second wrestler represented the forces of randomness and the loss of order. And when one of the wrestlers was seriously injured, then Thoth would treat him so that he could return to the battle, so that one would not defeat the other.</p>
        <p>-We also know about the role of Thoth in the myth of Isis and Osiris . After Isis collected the remains of Osiris from all over Egypt under the action of Set , Thoth confided to her with words so that she could resurrect him again, and give birth to him (after his death) their son, Horus . Then a battle took place between Horus (the avenger of his father) and Set, and Horus lost his left eye in that struggle. But consulting Thoth gave him the wisdom and knowledge to treat and retrieve it. So Thoth was the god who spoke the will of Ra.</p>
        <p>-In the beginning, it was Ra, Thoth, and Maat , as Maat represented order in the universe and represented truth and justice. Thoth was carrying out the will of Ra . Legend attributes him to making the year 365 days. According to legend, the year was only 360 days, and Nut , wife of Ra, did not become pregnant and did not bear him a child during those days. So Thoth wagered with the moon on 1/72 of its light and won (360/72 = 5), 5 extra days. During those five days, Nut (the goddess of the sky) became pregnant and gave birth to Hiru-Ur (the great Horus, the face of the sky), Osiris, Set , Isis, and her sister, Nephthys .</p>
        <p>-The Egyptians' knowledge of the calendar, the days of the year, and the months were associated with the god Thoth. Some even call the Egyptian calendar the name of the Tutian calendar, and the first month of the Egyptian year is the month of "Tut". Thoth, Thoth, and Tut are the names of the ancient Egyptians' god of wisdom, calculations, and astronomy.</p>
        </div>
          <label for="check5" > Read More </label>
    </div>
    </section>

    <button class="b1">
        <a href="his1.php" style="text-decoration: none;color:#9ba4b5;" >Previous</a>
      </button>
      <button class="b2">
        <a href="his3.php" style="text-decoration: none;color:#9ba4b5;">Next</a>
      </button>
      <?php include 'footer.php' ;?>
    </body>
</html>