<!DOCTYPE html>
<html>
    <head>
    <link rel="stylesheet" href="his4.css">
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="headerr.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="Logo.png">
    <title>Egyptian Gods | Historical</title> 
    <script src="script.js"></script>
    </head>
    <body>
    <nav class="navbar navbar-expand-sm  sticky-top" style="width: 100%;">

<div class="container-fluid">
  <a class="navbar-brand" href="index.php" style="color: #9BA4B5" id="back">Egyptian Gods</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="index.php">Home</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="his1.php" role="button" data-bs-toggle="dropdown">Historical</a>
        <ul class="dropdown-menu menu">
          <div><img src="images/osiris-bold.png" class="dropimage">
            <li><a class="dropdown-item" href="his3.php">Osiris Myths</a></li>
          </div>
          <div><img src="images/anubis-bold.png" class="dropimage">
            <li><a class="dropdown-item" href="his1.php">Anubis</a></li>
          </div>
          <div><img src="images/horus-bold.png" class="dropimage">
            <li><a class="dropdown-item" href="his3.php">Horus</a></li>
          </div>
          <div><img src="images/montu-bold.png" class="dropimage">
            <li><a class="dropdown-item" href="his1.php">Montu</a></li>
          </div>
          <div><img src="images/ptah-bold.png" class="dropimage">
            <li><a class="dropdown-item" href="his1.php">Ptah</a></li>
          </div>
          <div><img src="images/ra-bold.png" class="dropimage">
            <li><a class="dropdown-item" href="his2.php">Ra</a></li>
          </div>
          <div><img src="images/sekhmet-bold.png" class="dropimage">
            <li><a class="dropdown-item" href="his1.php">Sekhmet</a></li>
          </div>
          <div><img src="images/shu-bold.png" class="dropimage">
            <li><a class="dropdown-item" href="his2.php">Shu</a></li>
          </div>
          <div><img src="images/tefnut-bold.png" class="dropimage">
            <li><a class="dropdown-item" href="his2.php">Tefnut</a></li>
          </div>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="image.php">Images</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="video.php">Video</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="book.php">Reservation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="shop - light.php">Online Shop</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="aboutus.php">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="contact.php">Contact Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="contact.php">News</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="signin.php" role="button" data-bs-toggle="dropdown">Sign In</a>
        <ul class="dropdown-menu menu22">
          <li><a class="dropdown-item" href="signup.php">Sign Up</a></li>
          <li><a class="dropdown-item" href="profile - light.php">Profile Edit</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
<div class="stroke"><a href="dark4.php"><i class="fa-solid fa-circle-half-stroke"></i></a></div>
</nav>
<!-- END of Navigation bar -->   <br>

   <br>
   <br>
   <br>
  <center> <h1 class="hh">Temples dedicated to the gods of ancient egypt</h1></center>
   <section class="sec1">
   <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a6/Medmoud_vue_g%C3%A9n%C3%A9rale.JPG/260px-Medmoud_vue_g%C3%A9n%C3%A9rale.JPG" class="img1">
    <div class="anubis">
        <h1>Montu Temple</h1>
        <p>-The Temple of Montu (also Temple of Monthu, Montgo, or Mentu) is an Egyptian temple dedicated to the cult of Mentu .</p>
        <p>- The site is located 5 km (3.1 mi) northeast of Karnak , which is within Luxor . Mdamud was excavated by French archaeologist Fernand Besson de la Roque from 1925 to after the war, revealing several buildings including a temple dedicated to Montu. </p>
        <p>-This temple replaces an ancient sanctuary and consists of an open forum with a tower and two mounds housing chapels for worship. It is believed that the original sanctuary dates back to the ancient Egyptian kingdom . </p>
        <p>-The ruins of the last temple date back to the period of Ptolemy VIIIfrom the second century BC, although decorations and additions continued to be added many centuries later by the Romans. Because of Montu's strong association with raging bulls, the temple was a major center for bull worship, containing many statues of bulls for worship and reliefs. Most of these statues are now in various museums around the world.</p>
        <p>-The temple has a high-rise entrance in the form of a edifice, at its top is a drawing of a bird that was called "Nakhbet" in the form of two wings with the center of the sun disk, which in ancient Egypt symbolized the god Ra, and the two wings symbolize protection, meaning that the temple is under the protection of the god Ra, and the doors The temple is the same height as the entrances, and most of the doors in ancient Egypt were made of cedar covered with gold sheets.</p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d62138077.31840162!2d86.86067713045706!3d18.089727358399607!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1z2YXYudio2K8g2YXZiNmG2KrZiA!5e0!3m2!1sar!2seg!4v1682447416359!5m2!1sar!2seg" width="500" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
 </div>
   </section>

   <section class="sec2">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRGk85K7qZBYjYzGAOf7ofh2MBKOpCYbPj-H7FutdfH&s" class="img2">
    <div class="anubis">
        <h1>Temple of Ptah</h1>
        <p>-The Temple of Ptah is a shrine located within the Great Court of Amun-Re in the Karnak Complex , Luxor , Egypt . The temple is located north of the main temple of Amun, inside the boundary wall. It was built by Pharaoh Thutmose III on the site of an earlier temple from the Middle Kingdom . The Ptolemaic Kingdom later expanded the edifice. </p>
        <p>-The temple was dedicated to the ancient Egyptian deity Ptah, his wife Sekhmet , the goddess of war, and their son Nefertum .</p>
        <p>-The temple was built during the Middle Kingdom, during the eighteenth century BC , and Thutmose III made additions during the fifteenth century BC , during the era of the New Kingdom . The temple underwent successive restorations by Shabaka during the eighth century BC, the Ptolemies in the last centuries BC, and during the reign of the Roman Emperor Tiberius in the first century AD .</p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13842.031173255782!2d31.251583670507156!3d29.849626120944787!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14584bf0bfb431a3%3A0xea47c1fc9a3df1c5!2sTemple%20de%20Ptah%20-%20Memphis!5e0!3m2!1sar!2seg!4v1682452088318!5m2!1sar!2seg" width="500" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
 </div>
   </section>


   <section class="sec3">
   <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a3/Tempio_di_Iside_1.JPG/260px-Tempio_di_Iside_1.JPG" class="img3">
    <div class="anubis">
        <h1>Temple of Isis</h1>
        <p>-The Temple of Isis is located on the eastern bank of Aswan Governorate, next to the eastern fence of the city. The temple was partially built during the reigns of King Ptolemy III and King Ptolemy IV, and it was later converted into a church, most likely for Saint Mary.  </p>
        <p>-The temple is one of the most important archaeological discoveries preserved in good condition so far since it was found in 1871, where the temple still stands tall with its four walls and a roof with distinctive granite panels.</p>
        <p>-The temple has two entrances in the western façade. Where the main entrance is located in the middle of the façade and the other at the far left of the main entrance, as shown in the back wall of the main hall of the temple are scenes of the king offering offerings to the deities (Sat - Anqet - Khnum) known as the Aswan Trinity. Many Coptic writings and a rare architectural drawing were found showing the original layout of the temple on the walls during the temple restoration work. The temple sanctuary includes remains of Roman and Islamic brick dwellings, which indicates the continuous reuse of the site over the centuries.</p>
        <p>-The facade of the temple mediates the majestic main gate, which is decorated with colorful scenes and texts, and is topped by the winged sun disk in the middle. The entrance leads to a transverse hall with three rooms in the middle of which is the Holy of Holies room.</p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3642.4958416735844!2d32.89554578501218!3d24.084052384425952!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x143665dd8f21fc89%3A0xe64f4801528d1cc3!2z2YXYudio2K8g2KXZitiy2YrYsw!5e0!3m2!1sar!2seg!4v1682478869930!5m2!1sar!2seg" width="500" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
 </div>
   </section>

   <section class="sec4">
   <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3c/Dendera_7_977.PNG/280px-Dendera_7_977.PNG" class="img4">
    <div class="anubis">
        <h1>Dendera Temple</h1>
        <p>-Hathor was one of the most important deities in ancient Egypt, and was widely worshiped, as she was the goddess of the sky, dance, music, and motherhood. The center of her worship was the city of Dendera, and her temple is considered one of the best-preserved temples in ancient Egypt.</p>
        <p>-The main temple of Hathor that currently exists dates back to the Ptolemaic period, but there is a lot of evidence indicating that King Pepi I of the Sixth Dynasty used this site, and this temple is distinguished by the astronomical scenes depicted on the ceilings.</p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d114609.01383249757!2d32.70351247196647!3d26.146808515372477!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x144ecbd376622d75%3A0x55c5acd6d797167f!2z2YXYrNmF2Lkg2YXYudin2KjYryDYr9mG2K_Ysdip!5e0!3m2!1sar!2seg!4v1682479811947!5m2!1sar!2seg" width="500" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
 </div>
   </section>

   <section class="sec5">
   <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7f/Temple_Edfou_Egypte.jpg/260px-Temple_Edfou_Egypte.jpg" class="img5">
    <div class="anubis">
        <h1>Edfu Temple</h1>
        <p>-The Temple of Horus is one of the most complete ancient Egyptian temples located on the west bank of the Nile River in the city of Edfu. The construction of the temple took about 180 years, since the reign of King Ptolemy III (246-221 BC), in the year 237 BC. AD, until its construction was completed during the reign of King Ptolemy XII (80-51 BC) in the year 57 BC.</p>
        <p>-The temple still retains all its picturesque architectural and decorative elements, as it was buried under the sand for several years until the French archaeologist Auguste Mariette cleaned it and restored some of its parts in 1860 AD</p>
        <p>-The temple dedicated to the worship of the god Horus consists of a huge edifice of two towers, preceded by two granite statues of Horus in the form of a falcon. While the façade of the edifice is decorated with scenes of King Ptolemy XII victorious over his enemies, and other scenes depicting him with deities.</p>
        <p>-The huge temple gate leads to an open courtyard containing columns with vegetal crowns, as is the case with the Great and Small Columns Hall, and from there to the transverse halls, and then the sanctuary of the temple. We can also find scenes of the foundation of the temple and the relationship of the king with the deities in the Hall of the Great Columns, while the walls of the Hall of the Small Columns adorn a scene depicting the journey of the sacred boat of the god Horus and the goddess Hathor.</p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3616.6526888271696!2d32.87555918499484!3d24.97792858399873!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1449ed130bac4eab%3A0xf260759eaff3d5e5!2z2YXYudio2K8g2K3ZiNix2LMg2YHZiiDYpdiv2YHZiA!5e0!3m2!1sar!2seg!4v1682480226788!5m2!1sar!2seg" width="500" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
   </section>

   <section class="sec6">
   <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a0/Flickr_-_archer10_%28Dennis%29_-_Egypt-9B-045_-_Temple_of_Derr_%28Published_in_Wikipedia%29.jpg/225px-Flickr_-_archer10_%28Dennis%29_-_Egypt-9B-045_-_Temple_of_Derr_%28Published_in_Wikipedia%29.jpg" class="img6">
    
    <div class="anubis">
        <h1>Derr Temple</h1>
        <p>-This temple was carved into the rock by order of King Ramesses II (about 1279-1213 BC). Its ancient Egyptian name was "The Temple of Ramesses Beloved of Amun in the House of Ra". It consists mainly of two pillared halls and ends with the Holy of Holies, and has many interesting similar features with the most famous rock-cut temples of Ramesses II, such as the Great Temple of Abu Simbel. Here, too, in the Durr Temple, statues of the same four deities in the Holy of Holies can be seen, carved into the rock: Ptah, Ra-Horakhty, the deified Ramesses II, and Amun-Ra.</p>
        <p>-Althought some of the scenes in the first hypostyle hall depict some of Ramses II's military campaigns, most of the decoration of the walls of the temple shows him, accompanied by deities, as he performs the rituals of establishing the temple. The colors of the reliefs appear in the second pillared hall, which are very well preserved</p>
        <p>-Later, the temple was converted into a church, and in 1964, it was dismantled and moved from its original location in El-Durr on the other side of the Nile. Today, it stands near the Temple of Amada in the new location, after the implementation of the operation to save the temple from drowning as a result of the construction of the High Dam in Aswan. In the sixties.</p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3679.8883476393025!2d32.264459485037534!3d22.732390985100764!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1430569c53c91673%3A0x9d3af347079b2a58!2sThe%20Temple%20of%20Derr!5e0!3m2!1sar!2seg!4v1682482742001!5m2!1sar!2seg" width="500" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
   </section>
   <center><h3 style="font-size: 25px;">If you want to reserve to discover it for real <a href="bookup.php" style=" color: rgb(0, 0, 62);"> Click Here </a></h3></center>
   <button class="b1">
        <a href="his3.php" style="text-decoration: none; color:#9ba4b5;">Previous</a>
      </button>
      <?php include 'footer.php' ;?>
    </body>
</html>