@import url("https://fonts.googleapis.com/css2?family=Cairo+Play:wght@200;300;400;500;600;700;800;900;1000&display=swap");

* {
    padding: 0%;
    margin: 0%;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #f1f6f9;
    transition: 0.4s;
}
::-webkit-scrollbar-button {
    background-color: #1f1f1f;
}
::-webkit-scrollbar-thumb {
    background-color: #cf7500;
}
.welstatment {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;

    margin: auto;
    border-bottom: 2px solid rgba(0, 0, 0, 0.8);
    margin-bottom: 20px;
    padding-bottom: 5px;
    width: 60%;
    margin-top: 70px;
}

.o {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1400px;
    background-image: url("{{ URL::asset('front/assets/img/God/7.jpg')}}");
    /* background-image:url("URL::aasset('front/assets/img/God/7.jpg)}}") ; */
    z-index: -1;
}

.contact-form form {
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.contact-form input,
select,
textarea {
    width: 100%;
    outline: none;
    padding: 10px;
    background-color: whitesmoke;
    border: 0;
    border-radius: 10px;
    margin: 10px auto;
    color: #212a3e;
}

.contact-form input::placeholder {
    color: #394867;
}

.contact-form {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 25px;
}
.connexion {
    margin: auto;
    width: 60%;
    left: 0px;
    transition: all 0.7s;
}
input.submit {
    cursor: pointer;
    letter-spacing: 1px;
    background-size: 200%;
    transition: background-position 0.5s;
    border: 2px solid #394867;
    background-position: left;
}

input.submit:hover {
    background-color: #394867;
    background-position: right;
    color: white;
}
