@import url("https://fonts.googleapis.com/css2?family=Cairo+Play:wght@200;300;400;500;600;700;800;900;1000&display=swap");

* {
    padding: 0%;
    margin: 0%;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #f1f6f9;
    transition: 0.4s;
}
::-webkit-scrollbar-button {
    background-color: #1f1f1f;
}
::-webkit-scrollbar-thumb {
    background-color: #cf7500;
}

.contact-parent {
    display: flex;
    margin: 80px 0;
}

.contact-child {
    display: flex;
    flex: 1;
    border-radius: 25px;
}

.child1 {
    display: flex;
    background-size: cover;
    flex-direction: column;
    justify-content: space-around;
    color: black;
    padding: 20px 0;
    padding-top: 0px;
}

.child1:hover {
    transition: translateX(20px);
}

.child2:hover {
    transition: translateX(20px);
}

.child1 p {

    padding-left: 10%;
    margin-top: 10px;
    font-size: 20px;
    text-shadow: 0px 0px 2px #000;
}

.child1 p span {
    font-size: 18px;
    color: #3e5b94;
}

.child2 {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.inside-contact {
    width: 90%;
    margin: 0 auto;

}
h2{
    padding: 0;
    margin: 0;
}
.inside-contact h2 {
    text-align: center;
    margin-top: 50px;
}

.inside-contact input,
.inside-contact textarea {
    width: 100%;
    background-color: whitesmoke;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    margin-bottom: 20px;
}

.inside-contact input[type="submit"] {
    cursor: pointer;
    letter-spacing: 1px;
    background-size: 200%;
    /* background: linear-gradient(to right, transparent 50%, #394867 50%); */
    transition: background-position 0.5s;
    border: 2px solid #394867;
    background-position: left;
}

.inside-contact input[type="submit"]:hover {
    background-position: right;
    color: white;
    background-color: #394867;
}

@media screen and (max-width: 991px) {
    .contact-parent {
        display: block;
        width: 100%;
    }

    .child1 {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .child1 p {

        padding-left: 0%;
        margin-top: 0px;
        font-size: 15px;
        text-shadow: 0px 0px 0px;
    }


}
i {
    color: #3e5b94;
}
i:hover {
    color: #394867;
}
