@import url("https://fonts.googleapis.com/css2?family=Cairo+Play:wght@200;300;400;500;600;700;800;900;1000&display=swap");
@media(max-width: 767px){
    body{
        color: chartreuse;
    }
}
body{
    Font-family: "Cairo Play", cursive;
    background-color: rgba(87, 71, 71, 0.034);
}

.img1{
 
    float: right;
    margin-left: 150px;
    margin-right: 100px;
    width: 140px;
 
}
.img1:hover{
    width: 200px;
}


.sec1{
    border-radius: 10px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 54px;
    padding-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    color: #212a3e;
    box-shadow: 10px 10px 10px 10px #9ba4b5;
   text-align: justify;
   background-color: rgba(87, 71, 71, 0.027);
 }
 #check1{
    display: none;
}
#check1:checked ~ .dis1{
    display: block;
}
.dis1{
    display: none;
    transition: 0.5s linear;
    
}
label{
    display: inline-block;
    cursor: pointer;
    text-decoration:underline ;
    color: rgb(0, 0, 62);
}
.sec2{
    border-radius: 10px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 54px;
    padding-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    color: #212a3e;
    box-shadow: 10px 10px 10px 10px #9ba4b5;
   text-align: justify;
   background-color: rgba(87, 71, 71, 0.027);
  
 }
 .img3{
    float: right;
    margin-left: 150px;
    margin-right: 100px;
    width: 140px;
}
.img3:hover{
    width: 200px;
}

.sec3{
    
    border-radius: 10px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 54px;
    padding-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    color: #212a3e;
    box-shadow: 10px 10px 10px 10px #9ba4b5;
   text-align: justify;
   background-color: rgba(87, 71, 71, 0.027);
 }
 #check3{
    display: none;
}
#check3:checked ~ .dis3{
    display: block;
}
.dis3{
    display: none;
    transition: 0.5s linear;
    
}
.img4{
    float: right;
    margin-left: 150px;
    margin-right: 100px;
    width: 140px;
}
.img4:hover{
    width: 200px;
}

.sec4{
   
    border-radius: 10px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 54px;
    padding-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    color: #212a3e;
    box-shadow: 10px 10px 10px 10px #9ba4b5;
   text-align: justify;
   background-color: rgba(87, 71, 71, 0.027);
 }
 #check4{
    display: none;
}
#check4:checked ~ .dis4{
    display: block;
}
.dis4{
    display: none;
    transition: 0.5s linear;
    
}
.img5{
    float: right;
    margin-left: 150px;
    margin-right: 100px;
    width: 140px;
}
.img5:hover{
    width: 200px;
}

.sec5{
    border-radius: 10px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 54px;
    padding-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    color: #212a3e;
    box-shadow: 10px 10px 10px 10px #9ba4b5;
   text-align: justify;
   background-color: rgba(87, 71, 71, 0.027);
}
 #check5{
    display: none;
}
#check5:checked ~ .dis5{
    display: block;
}
.dis5{
    display: none;
    transition: 0.5s linear;
    
}
 .b1{
    color:white;
    font-size: 13px;
    padding: 12px 22px;
    margin-bottom: 20px;
    margin-left: 50px;
    letter-spacing: 1px;
    border: 2px solid whitesmoke;
    border-radius: 25px;
    background: linear-gradient(to right, transparent 50%,#394867 50%);
  background-size: 200%;
  background-position: left;
  transition: background-position 0.5s;
  }
b1:hover{
    background-position: right;
    color: white;
  }
.b2{
    color:white;
    font-size: 13px;
    padding: 12px 22px;
    margin-bottom: 20px;
    margin-left: 50px;
    letter-spacing: 1px;
    border: 2px solid whitesmoke;
    border-radius: 25px;
    background: linear-gradient(to right, transparent 50%,#394867 50%);
  background-size: 200%;
  background-position: left;
  transition: background-position 0.5s;
  }
b2:hover{
    background-position: right;
    color: white;
  }